body{
    background: url(src/bg.gif);
}
.title{
    background-color: black;
    border: #f2f2f2 solid 1px;
    width: 1024px;
    margin-left: auto; margin-right: auto;
    marquee{
        padding: 20px;
        color:white;
        font-size: 2em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.content{
    margin-top: 50px; margin-bottom: 25px;
    width: 1024px;
    margin-left: auto; margin-right: auto;
    color: white;
    border: #f2f2f2 solid 1px;
    background-color: black;
}
.row{
    width: 1024px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px; margin-top: 5px;
}
.email{
    color: white;
}
.email:hover{
    color: pink;
}
.navbar{
    overflow: hidden;
    top: 0;
    display: block;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: #f2f2f2 solid 1px;
    border-top: 0;
    backdrop-filter: blur(10px);
    a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 4px 16px; /* <Height> than <Width> */
        text-decoration: none;
        font-family: pixter-granularregular;
    }
    a:hover{
        background-color: #8e9191;
        color: black;
    }
}
.center{
    text-align: center;
}
.site-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.border{
    border: 1px #f2f2f2 solid
}
.center-box{
    margin-left: auto; margin-right: auto;
}